<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
    <div class="panel panel-default">
        <div class="alert alert-success">
            <span class="lead">
                Welcome to User Registration System
            </span>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <ul>
                    <li>
                        Please click on
                        <strong>Register New User</strong>
                        to register a new user
                    </li>
                    <li>
                        Please click on
                        <strong>List All User</strong>
                        to get all users
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
